/*
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContainer {
    background: url("../img/background.png") no-repeat center;
    background-size: cover;
    height: 500px;
    width: 850px;
    border-radius: 10px;
    padding: 20px 50px;
    box-shadow: 15px 12px 40px 10px #ccc;
}

.top--nav {
    height: fit-content;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.brand--name {
    color: #3482cf;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    font-size: 1.3rem;
    cursor: pointer;
}
.brand--name-light {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

ul {
    list-style-type: none;
}
ul li {
    color: #f3f3f3;
    display: inline-block;
    margin: 5px;
    padding: 0 17px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 0.7rem;
    cursor: pointer;
}
ul li:last-child {
    border: 1px solid #c6c5c5;
    padding: 7px 15px;
    border-radius: 4px;
}


.bodyWrapper {
    height: calc(100% - 80px);
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
}

.formWrapper {
    width: 38%;
}

form .form--title {
    color: #515151;
    font-size: 1.4rem;
}

.inputBox {
    width: 261px;
    background: #ffffff;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 2px #eaeaea;
    display: flex;
}
.inputBox input{
    width: 245px;
    padding: 10px 5px;
    background: #ffffff;
    border: none;
    color: #8f8f8f;
    font-size: 0.7rem;
}
.prefix--icon-shaded {
    height: 9px;
    width: 9px;
    margin: 14px 10px;
    background: #61b0fa;
    border: none;
    border-radius: 10px;
}
.prefix--icon-unshaded {
    height: 8px;
    width: 8px;
    margin: 14px 10px;
    background: transparent;
    border: 1px solid #b1b0b0;
    border-radius: 10px;
}

.buttonWrapper {
    width: 263px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.date-adult {
    border: 1px solid #d2d2d2;
    background: #ffffff;
    display: flex;
    border-radius: 5px;
    padding: 10px 60px 10px 10px;
    font-size: 0.7rem;
    color: #b1b0b0;
    cursor: pointer;
}
.icons {
    margin-right: 5px;
}


.btn--custom {
    background: linear-gradient(to right, #9246ec, #6b95ea);
    margin-top: 20px;
    width: 262px;
    border: none;
    padding: 12px;
    border-radius: 7px;
    color: #f3f3f3;
    font-weight: bold;
    font-size: 0.7rem;
    cursor: pointer;
}

.airplane {
    width: 450px;
    margin-top: 24px;
}











