/*
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContainer {
    background: url("../img/background.png") no-repeat center;
    background-size: cover;
    height: 530px;
    width: 900px;
    border-radius: 10px;
    padding: 20px 50px;
}

.top--nav {
    height: fit-content;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.brand--name {
    color: #3482cf;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    font-size: 1.3rem;
}
.brand--name-light {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

ul {
    list-style-type: none;
}
ul li {
    color: #f3f3f3;
    display: inline-block;
    margin: 5px;
    padding: 0 5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
}
ul li:last-child {
    border: 1px solid #f3f3f3;
    padding: 7px 15px;
    border-radius: 4px;
}


.bodyWrapper {
    height: 100%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
}

.formWrapper {
    width: 40%;
}

form .form--title {
    color: #515151;
}

.inputBox input{
    width: 250px;
    margin: 10px 0;
    padding: 10px 5px;
    background: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: #888888;
}

.buttonWrapper {
    width: 263px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.date-adult {
    border: 1px solid #d2d2d2;
    background: #ffffff;
    display: flex;
    border-radius: 5px;
    padding: 10px 60px 10px 10px;
    font-size: 0.7rem;
    color: #b1b0b0;
}
.icons {
    margin-right: 5px;
}


.btn--custom {
    background: linear-gradient(to right, #9246ec, #6b95ea);
    margin-top: 20px;
    width: 262px;
    border: none;
    padding: 15px;
    border-radius: 7px;
    color: #f3f3f3;
    font-weight: bold;
    font-size: 0.7rem;
}

.airplane {
    width: 400px;
}











